body {
  width: 100%;
  margin: 0;
  background-color: #d9d9d9;
  font-family: 'Futura'
}

img {
  margin:0;
  padding:0;
}

h1 {
  margin: 0;

}

a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: grey;
}

ul {
  margin: 0;
  list-style: none;
}

nav > ul > li {
  padding-left: 10px;
  float: left;

}

header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  overflow: auto;
  background-color: black;
  color: white;
}

.headerleft {
  display: inline-block;

}

.headerright {
  padding: 15px;
  float: right;
  display: inline-block;

}

ol > li > a {
  color: black;

}


ol > li {
  display: block;
  color: black;
}

nav {
  clear: both;
  float: right;
}

.imgwrap > img {
  width: 100%;
}


.imgwrap {
  padding: 0;
}


.logowrap > img {
  width: 20%;
  padding: 10px;
  float: left;
}

.usernav {
  font-size: 12px;
  float: right;
  padding: 0 0 10px 0;
}


.buttonwrap {
  z-index: 100;
  top: 150px;
  text-align: center;
  width: 100%;
  height: 50px;
  position: absolute;
}

.buttonwrap > div > a {
  font-size: 25px;
  margin: 10px;
  background-color: rgba(0,0,0, 0.7);
  padding: 10px;
  color: white;
}
.usernav > a {
  display: inline;;
}

.usernav > p {
  display: inline;;
}

.container {
  padding: 150px 20px 150px 20px;
  background-color: white;
  width: 80%;
  margin: 0 auto;
}
