
<h1>Welcome to G-appFactory</h1>
<ol>
  <li>Tired of mercenaries slumping over after sustaining battle injuries?</li>
  <li>Tired of your Murder-Bots not murdering enough or slow enough?</li>
  <li>Tired of your humanitarian projects not providing enough aid after the first two options?</li>
</ol>
<p>Well we've got you covered at G-appFactory! At G-appFactory we only hire the top project managers and
  programers. We use the latest technologies and program languages to build your App! Guarantee satisfaction
  or your money back!</p>
