<p>HOMEPAGE</p>
<a href='/logout'>Log Out</a>
{{#if user}}
<h2>{{user}}</h2>
<h3>Hello, {{user}}</h3>
<form class="" action="/logout" method="post">
  <input type="submit" name="name" value="Logout">
</form>
{{/if}}
