

<section>

  <div class='imgwrap'>
    <img src="../images/cityweb.jpg"/>
  </div>
</section>


<a href="/users/login"><div class='buttonwrap'>Log In</div></a>
<a href="/register"><div class='buttonwrap'>Sign Up</div></a>
