<!DOCTYPE html>


<html>
  <head>
    <title>{{title}}</title>


    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class='logoimg'>
      </div>

    <nav>
      <ul>
        <li>Home</li>
        <li>Users</li>
        <li>Projects</li>
        <li>Login</li>
        <li>Logout</li>
      </ul>
    </nav>
  </header>

    {{{body}}}
  </body>
</html>
