<!DOCTYPE html>


<html>
<head>
  <title>{{title}}</title>

  <link rel="stylesheet" href="../stylesheets/style.css" media="screen" title="no title" charset="utf-8">
</head>

<body>

  <header>

    <div clss='headerleft'>
      <div class='logowrap'>
        <img src="../images/citylogo.png"/>
      </div>
    </div>

    <div class='headerright'>
      <div class='usernav'>
        <a href="/users/login">Log In</a><p> |</p>
        <a href="/register">Sign Up</a>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/devs">Devs</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>




  {{{body}}}




</body>
</html>
