<div class='container'>
  <h1>LOGIN!</h1>
  <form action="/user/login" method="post">
    <label>Username!</label>
    <input type="text" name="username" value="">
    <label>Password!</label>
    <input type="password" name="password" value="">

    <input type="submit" value="Login!">
  </form>

  <a href="/register">Create an account</a>
  {{#if user}}
  <h2>Hello,</h2>
  <h3>{{user}}</h3>
  <a href='/logout'>Log Out</a>
  {{/if}}
  {{#if error}}
  <h3 style="color: red;">Uh oh...{{error}}</h3>
  {{/if}}
</div>
